[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
sqlalchemy = "*"
coloredlogs = "*"
lxml = "*"
requests = "*"
cssselect = "*"
useragent = "*"
htmlmin = "*"
fake-useragent = "*"
pylint = "*"
requests-cache = "*"
python-dateutil = "*"
bottle = "*"
bottle-sqlalchemy = "*"
datafreeze = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
